<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
<key>CFBundleDisplayName</key><string>菠萝壁纸</string>
<key>CFBundleExecutable</key><string>PineappleWallpaperSaver</string>
<key>CFBundleIdentifier</key><string>tech.pineapple.wallpaper.saver</string>
<key>CFBundleName</key><string>菠萝壁纸</string>
<key>CFBundlePackageType</key><string>BNDL</string>
<key>CFBundleShortVersionString</key><string>0.4.2</string>
<key>CFBundleVersion</key><string>6</string>
<key>LSMinimumSystemVersion</key><string>15.0</string>
<key>NSPrincipalClass</key><string>PineappleWallpaperSaverView</string>
<key>NSHumanReadableCopyright</key><string>Copyright © 2026 Pineapple-Tech 菠萝吹雪 and contributors</string>
</dict></plist>
